<div class="container">
  <div class="card text-center">
    <h1>Coaching</h1>
    <p>Allez viens, on est bien</p>
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="asker" placeholder="what time is it?">
      <input type="submit" value="Go on!">
    </form>
  </div>
</div>
